{% extends 'admin/base.html.twig' %}

{% block title %}Hello User!{% endblock %}
{% set menu = 'user' %}

{% block body %}
    <div class="container">
        <div class="my-4">
            <h1 class="h3 mb-0">User - {{ user.fullname }}</h1>
        </div>

        {{ include('admin/flash.html.twig') }}

        <div class="card">
            <div class="card-body">
                <div class="row">
                    <div class="col">Name</div>
                    <div class="col">{{ user.name }}</div>
                </div>
                <div class="row">
                    <div class="col">Surname</div>
                    <div class="col">{{ user.surname }}</div>
                </div>
                <div class="row">
                    <div class="col">Email</div>
                    <div class="col">{{ user.email }}</div>
                </div>
                <div class="row">
                    <div class="col">Created At</div>
                    <div class="col">{{ user.createdAt|date('d.m.Y H:i') }}</div>
                </div>
                <div class="row">
                    <div class="col">Updated At</div>
                    <div class="col">{{ user.updatedAt ? user.updatedAt|date('d.m.Y H:i') }}</div>
                </div>
            </div>
        </div>

    </div>
{% endblock %}
