<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </head>
    <body class="bg-light">
        <!-- Responsive navbar-->
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <div class="container">
                <a class="navbar-brand" href="#!">Start Bootstrap</a>
                <button class="navbar-toggler"
                        type="button"
                        data-bs-toggle="collapse"
                        data-bs-target="#navbarSupportedContent"
                        aria-controls="navbarSupportedContent"
                        aria-expanded="false"
                        aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                        <li class="nav-item">
                            <a class="nav-link {{ menu is same as('home') ? 'active' }}"
                               href="{{ url('admin-home') }}">
                                Home
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link {{ menu is same as('article') ? 'active' }}"
                               href="{{ url('admin-article-list') }}">
                                Article
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link {{ menu is same as('user') ? 'active' }}"
                               href="{{ url('admin-user-list') }}">
                                User
                            </a>
                        </li>

                    </ul>

                    {% if app.user %}
                        <a class="btn btn-outline-danger" href="{{ url('logout') }}">Sign Out</a>
                    {% else %}
                        <a class="btn btn-outline-success" href="{{ url('login') }}">Sign In</a>
                    {% endif %}

                </div>
            </div>
        </nav>

        {% block body %}{% endblock %}

    </body>
</html>
